.app {
  width: 100%;
  max-height: 100%;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--brand-primary);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 0px 12px;
    margin-top: 2px;
    height: 27px;
  }
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    a {
      -webkit-tap-highlight-color: transparent;
      display: block;
      line-height: 24px;
      color: white;
    }

    .articleButton {
      font-size: 36px;
    }
    .faqButton {
      font-size: 42px;
      margin-right: 4px;
    }
  }
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-height: calc(100% - 76px);

  .dayButtonGroup {
    margin-bottom: 1rem;
    width: 100%;
    button {
      flex-grow: 1;
    }
  }

  .stopInfo {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    max-width: 300px;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;

    .searchField {
      width: unset;
      margin-bottom: 1rem;
    }
    .searchFieldInitial {
      margin-bottom: 0;
    }
    .charts {
      position: relative;

      .stopName {
        margin-top: 0;
        margin-bottom: 0.1rem;
        font-size: 1.25rem;
        font-weight: 700;
      }

      .municipality {
        color: lighten(rgb(0, 0, 0), 0.8);
        margin-top: 0;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0.25rem;
      }

      .ranking {
        .distributionBar {
          background-color: #3a4;
        }

        .barLegendCircles {
          justify-content: space-between;
        }
      }

      .chartTitle {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        font-size: 1.2rem;
        font-weight: 500;
      }

      p {
        margin: 0.75rem 0;
      }

      .heatmap {
      }
      .heatmapLegend {
        display: grid;
        grid-template-columns: 1fr 1.1fr 1.1fr;
        grid-template-rows: auto auto;
        gap: 3px 5px;
        grid-template-areas:
          'distributionZero distributionBar distributionBar'
          'labelZero labelMin labelMax';

        font-size: 0.88rem;
        margin-top: 0.5rem;

        .distributionZero {
          grid-area: distributionZero;
          background-color: #f8f8f8;

          box-shadow: #aaa 0 0 3px 0px inset;
        }
        .heatmapLegendBar {
          grid-area: distributionBar;
          background-image: url('./img/magma_custom.png');
          background-size: contain;
          background-repeat: repeat-y;
        }
        .labelZero {
          grid-area: labelZero;
          text-align: left;
        }
        .labelMin {
          grid-area: labelMin;
          text-align: left;
        }
        .labelMax {
          grid-area: labelMax;
          text-align: right;
        }
      }

      .distributionBar {
        border-radius: 3px;
        overflow: hidden;
        height: 20px;
        width: 100%;
        position: relative;
        .distribution {
          height: 20px;
          width: 20px;
          display: inline-block;
          margin: 0;
        }
      }

      .barLegendCircles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        row-gap: 0.25rem;
        margin-top: 0.25rem;
        .barLegendCirclesItem {
          display: flex;
          flex-direction: row;
          align-items: center;
          .barLegendCircle {
            border-radius: 10px;
            height: 15px;
            width: 15px;
            display: inline-block;
          }
          .barLegendCircleLabel {
            margin-left: 0.25rem;
            font-size: 0.88rem;
          }
        }
      }
    }
  }

  .mapWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .mapTitle {
      margin: 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .dayButtonGroup {
      display: none;
    }
  }
}

.footer {
  color: white;
  height: 22px;
  padding: 2px 6px;
  background-color: var(--brand-primary);
  a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    max-height: unset;
    .stopInfo {
      width: unset;
      max-width: 100%;
      overflow-x: hidden;
    }
    .mapWrapper {
      min-height: 85vh;
      .mapTitle {
        margin: 0.5rem 1rem;
      }
      .dayButtonGroup {
        display: flex;
        margin: 1rem;
        margin-top: 0;
        width: calc(100% - 2rem);
      }
      flex-grow: 1;
      .mapContainer {
      }
    }
  }
}
