.leaflet-control-attribution svg {
  display: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  padding: 0;

  --brand-primary: #00345f;
  --brand-secondary: #b37500;
  --brand-font: #1D2124;
  --brand-font-secondary: #626A6F;
  --brand-link: #007381;
}

#map-widget {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
