.mapWrap {
  position: relative;
  flex-grow: 1;
  width: 100%;

  :global(.maplibregl-popup-content) {
    padding: 8px 13px;
    font-family: 'Thesis', sans-serif;
    font-size: 1rem;
  }
  :global(.maplibregl-popup-anchor-left .maplibregl-popup-tip) {
    margin-right: -1px;
  }
  :global(.maplibregl-popup-anchor-right .maplibregl-popup-tip) {
    margin-left: -1px;
  }
  :global(.maplibregl-popup-anchor-top .maplibregl-popup-tip) {
    margin-bottom: -1px;
  }
  :global(.maplibregl-popup-anchor-bottom .maplibregl-popup-tip) {
    margin-top: -1px;
  }
}

.map {
  position: absolute !important;
  height: 100%;
  width: 100%;
}

.customMapControls {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 30px;
  padding: 0 8px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);

  font-size: 1rem;
  font-family: 'Thesis', sans-serif;

  .indicator {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 100px;
    border: 1px solid black;
    &:not(:last-child) {
      margin-right: 4px;
    }
    &:last-child {
      margin-left: 4px;
    }
  }
}
